extend layout
block content
    h2.receiver #{data.levelOne}
    - each levelTwo in data.data
      - if (levelTwo.questions['Skills [Leadership]'])
        h3.author #{levelTwo.levelTwo} says:
        table.qanda
          thead
            tr
              th Question
              th Answer
          tbody
          - each answer, question in levelTwo.questions
            - if (answer !== 0)
              tr
                td #{question}
                td #{answer}
