doctype
html
  head
    title #{title} - UH feedbacks
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav.nav
        a.button.back(href='/') Home
        a.button.singlepage(href='/singlepage') All on one page
      h1 UH feedbacks
    .container
      .main-content
        block content
    footer
      p
        a(href="/api") Raw JSON
