extend layout
block content
    - each record in data
      h2.receiver #{record.levelOne}
      - each levelTwo in record.data
        - if (levelTwo.questions['Skills [Leadership]'])
          h3.author #{levelTwo.levelTwo} says:
          table.qanda
            thead
              tr
                th Question
                th Answer
            tbody
            - each answer, question in levelTwo.questions
              - if (answer !== 0)
                tr
                  td #{question}
                  td #{answer}
      br
      hr
      br
      br
