extend layout
block content
    - each receiver in data
      h2.receiver #{receiver.receiver}
      - each author in receiver.feedbacks
        - if (author.questions['Skills [Leadership]'])
          h3.author #{author.author} says:
          table.qanda
            thead
              tr
                th Question
                th Answer
            tbody
            - each answer, question in author.questions
              - if (answer !== 0)
                tr
                  td #{question}
                  td #{answer}
      br
      hr
      br
      br
